body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0A2940;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a{
    cursor:default;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e6ed;
    width: 920px;
    height: 400px;            
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.left img {
    width: 100%;

}

.right {
    flex: 1;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 32px;
    color: #1F384C;
}

p {
    font-size: 16px;
    color: #1F384C;

}

form {
    margin-top: 20px;
}

input[type="email"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1F384C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0A2940;
}

.contact-info {

    font-size: 14px;
    color: #1F384C;
}

.footer {

    font-size: 12px;
    color: #1F384C;
    margin-top: 10px;
}
.footer img{
    padding-top: 20px;

    width: 50px;
    height: 50px;

}
.contact-info ul li{
    text-decoration: none;
    list-style: none;
    margin: 0px;
}
li i:hover{
    color:rgb(10, 110, 44);
}
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* Borders, Padding, Width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

/* For Checkboxes & Radios */
#fs-frm [type="checkbox"],
#fs-frm [type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}