/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-image: url(../bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
p{
    font-size: .5rem;
}

/* Header Styles */
header {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Main Content Layout */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
}

/* Left Side Styling */
.left-side {
    flex: 1;
    padding: 20px;
}

.left-side h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.left-side p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
}

form input {
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 300px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

form button {
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #123468;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
small{
    padding-top: 40px;
}
.card{
        height: 300px;
        width: 200px;
        background-color: #f7c32e;
}

form button:hover {
    background-color: #f7c32e;
}

.no-spam {
    margin-top: 10px;
    font-size: 10px;
    color: #123468;
}

/* Right Side Styling */
.right-side {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-main {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image-preview {
    display: flex;
    gap: 10px;
}

.image-preview img {
    width: 100px;
   
}
.right-side img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}